REACT_APP_VERSION=$npm_package_version

REACT_APP_DEV_PROXY=http://localhost:4000/

REACT_APP_AUTH0_DOMAIN=<YOUR-AUTH0-DOMAIN>
REACT_APP_AUTH0_CLIENT_ID=<YOUR-AUTH0-CLIENT-ID>
REACT_APP_AUTH0_AUDIENCE=<YOUR-AUTH0-AUDIENCE>
